.marquee-sidebar {
  max-width: 16rem;
  width: 100%;
  border-right: 2px solid #f6f6f6;

  ul {
    margin-top: 7.5rem;
    padding: 0;
    list-style: none;

    li a {
      color: black;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.75rem 1rem;
      display: block;
      transition: all 150ms;
      font-weight: 600;

      &.active {
        border-left: 2px solid #9c0f00;
        background-color: #f5f5f5;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
